{% extends 'base.html.twig' %}

{% block title %}Symfony UX & Hotwire Demo{% endblock %}

{% block body %}
<div>
    <h1>Symfony UX & Hotwire Demo</h1>

    <p>This site demonstrates various <a href="https://hotwired.dev/">Hotwire</a> features. Find the code <a href="https://github.com/dbu/symfony-ux-demo">on github</a>.</p>

    <ul>
        <li><a href="{{ path('app_plain') }}">Plain</a></li>
        <li><a href="{{ path('app_drive') }}">Turbo Drive</a></li>
        <li><a href="{{ path('app_frames') }}">Turbo Frames</a></li>
        <li><a href="{{ path('app_streams') }}">Turbo Streams</a></li>
        <li><a href="{{ path('app_sse') }}">SSE</a></li>
    </ul>

    <p>Use the top navigation to switch between the different demos.</p>
    <p>&copy; 2026, <a href="https://davidbu.ch">David Buchmann</a></p>
</div>
{% endblock %}
